<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-00QR3KNQQD"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-00QR3KNQQD');
  </script>
  
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/assets/favicon-uiuc.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <!-- BIO -->
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1 style="display: inline;"> Takyoung Kim </h1> <span>김탁영 (金卓映)</span> <br>
              <p>Hello! I am a Ph.D. Student in <a target="_blank" href="https://conversationalai.web.illinois.edu">Conversational AI Lab</a> at the <a target="_blank" href="https://illinois.edu/">University of Illinois Urbana-Champaign</a> <a target="_blank" href="https://siebelschool.illinois.edu/">Computer Science</a>, advised by <a target="_blank" href="https://scholar.google.com/citations?user=GMcL_9kAAAAJ">Prof. Dilek Hakkani-Tür</a>. Previously I received my Master's degree at Korea University, advised by <a target="_blank" href="https://scholar.google.com/citations?user=I2pcWZIAAAAJ">Prof. Pilsung Kang</a>.
              </p>
              <p>
                My main research interest lies in solving problems related to human-machine communication in real-world settings. In particular, I am interested in building conversational agents that can interact beyond the textual domain, understand social nuances, and provide personalized assistance. I like to understand realistic constraints that current AI recipes struggle to handle.
              </p>
              <p>
                Contact: tk30 [at] illinois [dot] edu
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://youngerous.github.io/assets/CV_Takyoung_Kim.pdf"> CV</a> &nbsp;|&nbsp;
                <a target="_blank" href="https://github.com/youngerous">GitHub</a> &nbsp;|&nbsp;
                <a target="_blank" href="https://scholar.google.com/citations?user=uf1yPNkAAAAJ">Google Scholar</a> &nbsp;|&nbsp;
                <a target="_blank" href="https://www.linkedin.com/in/youngerous"> LinkedIn </a> &nbsp;|&nbsp;
                <a target="_blank" href="https://x.com/takyoung_kim"> X </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:100%" alt="profile photo" src="images/profile.png">
            </td>
          </tr>
        </table>

        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <!-- NEWS -->
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
          <tr>
            <td>
              <div style="margin-bottom: 1.25em; border: 0.7px solid #ccc; max-height: 12em; min-width: 15em; overflow: auto; list-style-position: outside; padding-left: 0em; padding-right: 0.6em">
              <ul>
                {% for post in site.posts %}
                {% for cat in post.categories %}
                {% if cat == 'news' %}
                <li>{{post.excerpt}}</li>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
              </div> 
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <!-- EDUCATION -->
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
            </td>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'school' %}
          <tr>
            <td style="padding:0.5% 2.5%;width:100%;vertical-align:middle">
              {{post.excerpt}}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}  
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <!-- WORK EXPERIENCE -->
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Work Experience</h2>
            </td>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'work' %}
          <tr>
            <td style="padding:0.5% 2.5%;width:100%;vertical-align:middle">
              {{post.excerpt}}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}  
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"></table>
          <!-- PUBLICATIONS -->
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2> (* = Equal Contribution)
            </td>
          </tr>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% if post.venue2 %}
              <br>
              <em>{{post.venue2}}</em>, {{ post.date2 }}
              {% endif %}
              <br>
              {% if post.link %}
              <a target="_blank" href="{{post.link}}">link</a>
              {% endif %}
              {% if post.video %}
               / <a target="_blank" href="{{post.video}}">video</a>
              {% endif %}
              {% if post.code %}
               / <a target="_blank" href="{{post.code}}">code</a>
              {% endif %}
              {% if post.poster %}
               / <a target="_blank" href="{{post.poster}}">poster</a>
              {% endif %}
              {% if post.slide %}
               / <a target="_blank" href="{{post.slide}}">slide</a>
              {% endif %}
              {% if post.website %}
               / <a target="_blank" href="{{post.website}}">website</a>
              {% endif %}
              {% if post.youtube %}
               / <a target="_blank" href="{{post.youtube}}">youtube</a>
              {% endif %}
              <!-- <p></p> -->
              <!-- {{ post.excerpt }} -->
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Takyoung Kim's Website
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

